* {
  margin: 0;
  padding: 0;
}
canvas {
  overflow: hidden;
}

body {
  box-sizing: border-box;
}

weave-button {
  width: 100%;
}

weave-select {
  height: 24px;
  width: 100%;
  font-weight: 600;
  font-size: 11px;
}

.bottom-tooltip {
  position: fixed;
  left: 50%;
  bottom: 16px;
  transform: translate(-50%);
  padding: 8px;
  font-size: 1.5em;
  background-color: white;
  border: 1px solid;
  border-radius: 4px;
}
